h1{
    color:rgb(31, 211, 31);
        text-align:center ;
        text-transform:uppercase  ;
        text-indent:20px;
        text-decoration:underline dotted 4px green;
        text-shadow:3px 5px lawngreen; 
}

#i1{
    font-size: larger;
    font-style: oblique;
    font-weight:bolder ;
    font-variant:small-caps;
    color:aqua;    
    cursor: pointer;
    border:10px solid red;
    border-radius:20px ;    
    padding-top:20px ;
    padding-bottom:20px;
    padding-right:150px;
    padding-left:150px;
    margin:40px 40px 40px 30px;
}
body
{
    /* background-color: rgb(231, 9, 9) ; */
    background-image: url(|"C:\Users\laksh\OneDrive\Desktop");
    background-repeat:no-repeat;
    b
}